* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.page-header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background: #000000;
}

.header-logo {
    display: block;
}

.main-banner {
    width: 100%;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 66px 0 66px;
}

.top-infocard-text {
    max-width: 766px;
}

.top-infocard-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
}

.top-infocard-title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-description {
    font-size: 16px;
    line-height: 24px;
}

.top-infocard-image {
    margin: 66px 0 120px;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding: 0 0 80px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 26px 26px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 30px;
}

.top-card-description {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}

.middle-banners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    justify-content: center;
    background: #E0E0E0;
    padding: 0 94px;
    width: 100%;
}

.middle-banner {
    display: flex;
    position: relative;
    flex-direction: column;
    bottom: -64px;
    width: 100%;

}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
    padding: 0 30px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
    padding: 34px 32px 66px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}

.bottom-card-description {
    max-width: 366px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-infocard-text {
    max-width: 550px;
    justify-content: center;
}

.bottom-infocard-title {
    margin-top: 138px;
    font-size: 32px;
    line-height: 1;
    text-align: center;
}

.bottom-infocard-description {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 18px 0 32px;
}

.bottom-infocard-image {
    margin-bottom: 100px;
}

.page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
    background: #000000;
}

.footer-icons {
    display: flex;
    list-style: none;
    margin-bottom: 16px;
}

.footer-icon {
    margin: 0 8px;
}

.footer-text {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;

}


@media screen and (max-width: 490px) {
    .top-infocard-text {
        max-width: 356px;
        margin: 0 0 68px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }

    .top-infocard-title {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .top-infocard-description {
        text-align: center;
    }

    .top-infocard-image {
        width: 100%;
        max-width: 240px;
        margin: 0 0 80px;

    }

    .top-cards {
        grid-template-columns: 1fr;
        padding: 0 32px 80px;
    }

    .bottom-cards {
        margin-top: 80px;
        grid-template-columns: 1fr;
        gap: 16px;
        padding: 0 26px;
    }

    .bottom-card {
        margin-top: 0;
       
    }

    .bottom-infocard-text {
        padding: 80px 32px 50px;
    }

    .bottom-infocard-title {
        margin-top: 0;

    }
    .bottom-infocard-description {
        text-align: center;
    }

    .bottom-infocard-image-mobile {
        margin-bottom: 80px;
    }

    .page-footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
        text-align: center;
    }

}


@media screen and (max-width: 415px) {
    .main-banner-desktop {
        display: none;
    }

    .bottom-infocard-image {
        display:none
    }
}


@media screen and (min-width: 415px) {
    .main-banner-mobile {
        display: none;
    }

    .bottom-infocard-image-mobile {
        display: none;
    }
}


@media screen and (min-width:412px) and (max-width:490px) {
    .middle-banners {
        column-gap: 14px;
        row-gap: 24px;
        justify-content: center;
        grid-template-columns:repeat(2, max-content);
        max-width: 490px;
    }

    .middle-banner {
        position: relative;
        bottom: -32px;
        width: 100%;
        max-width: 178px;
    }
}